.section {
  &__network {
    flex-direction: column;
    &-poster {
      width: 100%;
      margin-top: 15rem;
    }
  }
  &__sponsers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4rem;
  }
}
