.testimonials__container {
  display: flex;
  gap: 5rem;
  margin: 6rem 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  .testimonial__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    scroll-snap-align: start;
    padding: 3rem;
    min-width: 40rem;
    border-radius: $border-radius-10;
    border: $border-size-2 solid $border-color;
    animation: full-border 2s infinite linear;

    &-top {
      display: flex;
      justify-content: space-between;
    }
    &-left {
      display: flex;
      gap: 2rem;
    }
    &-detail {
      text-align: left;
    }
    &-name {
      font-weight: 500;
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }
    &-city {
      color: $color-grey;
      font-weight: 400;
      font-size: 1.4rem;
    }
    &-right {
      margin-left: auto;
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    &-star {
      width: 1.6rem;
      aspect-ratio: 1/1;
    }
    &-review {
      font-size: 1.6rem;
      line-height: 3rem;
      text-align: left;
    }
  }
}

.scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .points {
    position: relative;
    display: flex;
    gap: 1.5rem;
    &-point {
      width: 1.5rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: $color-points;
    }
    .point-fill::after {
      content: '';
      position: absolute;
      left: 0;
      width: 4.5rem;
      height: 100%;
      background-color: #f53838;
      border-radius: 1rem;
    }
  }
  .arrows {
    display: flex;
    align-items: center;
    gap: 2rem;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      padding: 1.5rem;
      font-weight: 700;
      color: red;
      border: $border-size-2 solid $color-red;
      border-radius: 50%;
      cursor: pointer;
      transition: $transition-timing;
      animation: full-border 3s infinite linear;
    }
    i:hover {
      animation: none;
      color: $color-white;
      background-color: $color-red;
    }
  }
}
