$color-red: #f53838;
$color-btn: #f53855;
$color-light-red: #f5383859;
$color-navy-blue: #0b132a;
$color-grey: #4f5665;
$color-copyright: #afb5c0;
$color-bg-light-grey: #f8f8f8;
$color-white: #ffffff;
$color-box-shadow-grey: #f6f6f7;
$color-points: #dde0e4;

$container-width: 144rem;

$links-gap: 4rem;

$border-radius-10: 1rem;
$border-radius-50: 5rem;
$border-color: #eeeff2;

$border-size-1: 0.1rem;
$border-size-2: 0.2rem;

$transition-timing: 0.4s;
