* {
  padding: 0;
  margin: 0;
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
a {
  display: inline-block;
  text-decoration: none;
}
