html {
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
body {
  font-family: 'Rubik', sans-serif;
  color: $color-navy-blue;
  background-color: $color-white;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 1.6rem;
}
.font-500 {
  font-weight: 500;
}
.font-400-grey {
  font-weight: 400;
  color: $color-grey;
}
